<div style="width:75%; margin:0 auto;">
  <div class="video-wrapper">
    <iframe src="//player.vimeo.com/video/<%= @video_id %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>